#keys {
	cursor:				cell;
	min-width:			400px;
	-moz-user-select:	none;
	-webkit-user-select:none;
	-ms-user-select:	none;
	-o-user-select:		none;
	user-select:		none;
}

.key {

}

.keyvalue {
	text-align: 		center;
	font-size:			0.8em;
	pointer-events:		none;
	font-weight:		bold;
	font-family:		sans-serif;
}

.octave {
	display:			inline-block;
}

.keywhite {
	background-color:	white;
	border:				1px solid silver;
	display:			inline-block;
	height:				75px;
	margin:				0 -3px;
	padding:			0;
	width:				25px;
}

.keywhiteactive {
	background-color: 	#222;
}

.keywhite .keyvalue {
	color:				white;
	position: 			relative;
	top: 				57px
}

.keysblack {
	position:			relative;
	top:				-75px;
}

.keyblack {
	background-color:	black;
	display:			inline-block;
	height:				50px;
	position:			absolute;
	/*top:				-75px;*/
	width:				16px;
}

.keyblackactive {
	background-color:	#ddd;
}

.keyblack .keyvalue {
	color:				black;
	padding-top: 		33px;
}

.keyblack-1 {
	left:				13px;
}
.keyblack-2 {
	left:				36px;
}
.keyblack-3 {
	left:				84px;
}
.keyblack-4 {
	left:				107px;
}
.keyblack-5 {
	left:				130px;
}

.midi_opt {
	height:				100px;
}

.midi_note {
	background-color:	black;
	color:				white;
	display:			inline-block;
	height:				50px;
	margin:				5px auto;
	margin-left:		10px;
	text-align:			center;
}

/* OVERRIDE FOUNDATION */
.row>h3 {
	margin-left:		15px;
}